/* *** common *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* *** inizio main *** */

main {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: darkblue;
    display: flex;
}

/* *** inizio col-sn *** */

.col-sn {
    width: 15%;
    background-color: #000000;
    font-size: 11px;
}

#logo {
    width: 60%;
    margin: 20px 20px;
}

/* *** inizio nav-top *** */

#home {
    color: white;
}

.col-sn #nav-top li img {
    width: 10%;
    vertical-align: middle;
}

.col-sn #nav-top li,
.col-sn #playlist li {
    margin-left: 20px;
}

.col-sn #nav-top li a,
.col-sn #playlist li a {
    text-decoration: none;
    color: #a3a3a3;
    line-height: 20px;
}

/* *** / nav-top *** */

/* *** inizio playlist *** */

#playlist {
    overflow-y: auto;
    padding-bottom: 150px;
    font-size: 11px;
}

.col-sn h6 {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.col-sn #playlist i {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a3a3a3;
    color: black;

}

/* *** / playlist *** */

.col-sn #installa {
    margin-left: 15px;
    font-size: 13px;
    color: #a3a3a3;
    text-decoration: none;

}

.col-sn #installa img {
    width: 10%;
    vertical-align: middle;
}

.col-sn #linea-divisoria {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #a3a3a3;
}

/* *** / col-sn *** */

/* *** inizio col-dx *** */

.col-dx {
    width: 85%;
    overflow-y: auto;
}

/* *** inizio top-box *** */

.top-box {
    width: 100%;
    height: 80px;
    background-color: #080b12;
    display: flex;
    justify-content: end;
    align-items: center;
}

.top-box #upgrade {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 11px;
}

/* *** / top-box *** */

/* *** inizio bottom-box *** */

.bottom-box {
    width: 100%;
    background-color: #141922;
    overflow-y: auto;
}

/* *** inizio menu *** */

.bottom-box #menu {
    text-align: center;
    margin-top: 10px;
}

.bottom-box #menu li {
    display: inline-block;
    margin-right: 10px;
}

.bottom-box #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #a3a3a3;
}

/* *** / menu *** */

.bottom-box h4 {
    color: white;
    margin-left: 20px;
    margin-top: 40px;
}

/* *** inizio bottom-box content *** */

.bottom-box-container {
    display: flex;
}

.content-box {
    width: 160px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;
    color: white;
}

.content-box img {
    width: 100%;
    margin-bottom: 10px;
}

.content-box span {
    font-size: 11px;
    color: #a3a3a3;
    margin-top: 5px;
}

.bottom-box p {
    font-size: 11px;
    color: #a3a3a3;
    margin-top: 5px;
    margin-left: 20px;
}

.border-radius {
    border-radius: 50%;
}

/* *** / bottom-box content *** */

/* *** / bottom-box *** */

/* *** / col-dx *** */

/* *** / main *** */

/* *** inizio footer *** */

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

/* *** inizio footer left *** */

footer img {
    width: 40px;
    margin-left: 10px;
}

footer h5 {
    font-size: 12px;
    color: white;
    margin-left: 10px;
}

footer span {
    font-size: 11px;
    color: #a3a3a3;
    margin-left: 10px;
}

footer #cuore {
    margin-left: 30px;
    margin-right: 10px;
    color: #a3a3a3;
}

footer #file {
    color: #a3a3a3;
}

.footer-left {
    width: 30%;
    display: flex;
    align-items: center;
}

/* *** / footer left *** */

/* *** inizio footer center *** */

.footer-center {
    width: 40%;
    display: flex;
    justify-content: center;
}

.footer-center i {
    margin-top: 10px;
    margin-right: 20px;
    color: #a3a3a3;
    
}

/* *** / footer center *** */

/* *** inizio footer right *** */

.footer-right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right i {
    margin-right: 20px;
    color: #a3a3a3;
}

/* *** / footer right *** */

/* *** / footer *** */

/* *** media query *** */

@media screen and (max-width: 768px) {
    .col-sn {
        width: 150px;
    }

    .col-dx {
        width: calc(100% - 150px);
    }

    .bottom-box-container {
        display: flex;
        flex-wrap: wrap;
    }

    .content-box {
        width: 120px;
    }

@media screen and (max-width: 420px) {
    .col-sn {
        width: 150px;
    }

    .col-dx {
        width: calc(100% - 150px);
    }

    .bottom-box-container {
        display: flex;
        flex-wrap: wrap;
    }

    .content-box {
        width: 100px;
    }

}

@media screen and (max-width: 320px) {
    .col-sn {
        width: 30px;
    }

    .col-dx {
        width: calc(100% - 30px);
    }

    /* *** display none *** */

    #logo,
    #nav-top, 
    h6, 
    #playlist, 
    #installa, 
    #linea-divisoria {
        display: none;
    }
}

/* *** debug ***  */