/* *** common *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *** inizio main *** */

.col-sn {
    width: 15%;
    height: 100%;
    background-color: yellow;
}

.col-dx {
    width: 85%;
    height: 100%;
    background-color: lime;
}

.top-box {
    width: 100%;
    height: 80px;
    background-color: black;
}

.bottom-box {
    width: 100%;
    height: calc(100% - 80px);
    background-color: blueviolet;
}

/* *** / main *** */

/* *** inizio footer *** */

/* *** / footer *** */

/* *** debug ***  */

.debug main {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: darkblue;
    display: flex;
}

.debug footer {
    width: 100%;
    height: 80px;
    background-color: darkred;
} 